importFrom("stats", "formula", "gaussian", "glm.fit", "hat", "lm.fit",
           "lm.wfit", "make.link", "model.extract", "model.matrix",
           "model.offset", "model.response", "model.weights", "pchisq",
           "quantile", "residuals.glm", "summary.glm")

importFrom("statmod", unitdeviance.digamma, varfun.digamma)

export("anova.dglm", "dglm", "dglm.constant", "dglm.control")

S3method(anova, dglm)
S3method(print, summary.dglm)
S3method(residuals, dglm)
S3method(summary, dglm)
